<div class="row">
  <h3>Authorization Form</h3>
  <form class="col s12" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix validate">email</i>
        <input id="email" type="email" class="validate" [(ngModel)]="model.email" ngControl="email" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix validate">lock</i>
        <input id="password" type="password" class="validate" [(ngModel)]="model.password" ngControl="password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <p>
        <input type="checkbox" class="filled-in" id="rememberMe" [(ngModel)]="model.rememberMe" />
        <label for="rememberMe">Remember me</label>
      </p>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light cyan lighten-2" type="submit" name="action" [class.disabled]="!loginForm.form.valid">
        Log In <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>